/*  your css code here. If applicable */
.outer{
	border:4px solid black;
	background-color:lightgray;
	border-radius:2rem;
	width:60%;
	margin:auto;
	padding:2rem;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:0.5rem;
	
}
.outer div{
	/* display:inline-block; */
	height:100px;
	width:100px;
	border:0px solid;
	border-radius:50%;
	
}
#green{
	background-color:green;
}
#yellow{
	background-color:yellow;
}
#red{
	background-color:red;
}
